.education {
  padding: 32px 0;

  &__grid {
    display: grid;
    justify-content: center;
    column-gap: 64px;
    row-gap: 28px;

    @media (min-width: 1224px) {
      grid-template-columns: repeat(2, minmax(0, 524px));
    }
  }

  &__additional-list {
    padding-left: 30px;
  }
}
