.education {
  padding: 32px 0;

  &__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 524px);
    column-gap: 64px;
  }

  &__additional-list {
    padding-left: 30px;
  }
}
