.m {
  &b {
    &_64 {
      margin-bottom: 64px;
    }

    &_28 {
      margin-bottom: 28px;
    }

    &_16 {
      margin-bottom: 16px;
    }

    &_12 {
      margin-bottom: 12px;
    }

    &_8 {
      margin-bottom: 8px;
    }

    &_4 {
      margin-bottom: 4px;
    }
  }

  &r {
    &_12 {
      margin-right: 12px;
    }
  }

  &l {
    &_24 {
      margin-left: 24px;
    }
  }
}
