.skills {
  padding: 32px 0;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__column {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__skill {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
