header,
footer {
  min-height: 68px;
  background-color: #f7fafc;
}

.home {
  &__content-item {
    max-width: 1200px;
    margin: auto;
  }

  &__intro-container,
  &__education-container,
  &__portfolio-container,
  &__skills-container,
  &__experience-container {
    padding: 0 24px;

    @media (min-width: 1276px) {
      padding: 0;
    }
  }

  &__intro-container,
  &__experience-container,
  &__education-container {
    background-color: #fff;
  }

  &__skills-container,
  &__portfolio-container {
    background-color: #f7fafc;
  }
}
