.home {
  &__content-item {
    max-width: 1200px;
    margin: auto;
  }

  &__intro-container,
  &__education-container,
  &__portfolio-container,
  &__skills-container,
  &__experience-container {
    padding: 0 24px;

    @media (min-width: 1276px) {
      padding: 0;
    }
  }

  &__intro-container,
  &__portfolio-container,

  &__education-container {
    background-color: #fff;
  }

  &__skills-container,
  &__experience-container,
  &__footer {
    background-color: #f7fafc;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }
}

:global .dark-theme :local .home {
  &__intro-container,
  &__experience-container,
  &__education-container {
    background-color: #22272e;
  }

  &__skills-container,
  &__portfolio-container,
  &__footer {
    background-color: #2d333b;
  }
}
