.language-switcher {
  display: flex;
  align-items: center;
  user-select: none;

  &__select {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 14px;
    background-color: #e2e5e7;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
      background-color: #d8dee0;
    }
  }

  &__select-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__select-list-item {
    padding: 8px 0;
    cursor: pointer;
    overflow: hidden;
    background-color: #e2e5e7;

    &:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ffffff;
    }

    &:hover {
      background-color: #d8dee0;
    }
  }

  &__language-icon {
    width: 28px;
    height: 28px;
  }

  &__chevron-icon {
    margin-left: 8px;
  }
}

:global .dark-theme :local .language-switcher {
  color: #fff;

  &__select {
    &:hover {
      background-color: #04080f;
    }
  }

  &__select {
    background-color: #161b22;
  }

  &__select-list-item {
    background-color: #161b22;
    &:hover {
      background-color: #04080f;
    }

    &:not(:last-child) {
      border-bottom-color: #b9b9b9;
    }
  }

  &__chevron-icon {
    filter: invert(1);
  }

  &__language-icon {
    filter: invert(1);
  }
}
