.intro {
  padding: 24px 0;
  text-align: center;

  &__title {
    @media (max-width: 576px) {
      margin-bottom: 16px;
    }
  }

  &__contacts {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    @media (min-width: 724px) {
      margin-top: 0;
      display: none;
    }
  }
}
