.intro {
  padding: 48px 0;
  text-align: center;

  @media (min-width: 576px) {
    padding: 64px 0;
  }

  &__title {
    margin-bottom: 16px;

    @media (min-width: 576px) {
      margin-bottom: 8px;
    }
  }

  &__contacts {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    @media (min-width: 724px) {
      display: none;
      margin-top: 0;
    }
  }
}
