.experience {
  padding: 48px 0;

  @media (min-width: 576px) {
    padding: 72px 0;
  }

  &__grid {
    display: grid;
    justify-content: center;
    gap: 28px 64px;

    @media (min-width: 968px) {
      grid-template-columns: repeat(2, minmax(0, 450px));
    }
  }
}
