.contacts {
  display: flex;
  height: 100%;
  padding: 8px 16px;
  background-color: #eee;
  border-radius: 20px;

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__list-link {
    font-size: 0;
  }

  &__list-icon {
    width: 30px;
    height: 30px;
  }
}

:global .dark-theme :local .contacts {
  background-color: #d4d4d4;
}
