.contacts {
  display: flex;
  height: 100%;

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__list-link {
    font-size: 0;
  }

  &__list-icon {
    width: 30px;
    height: 30px;
  }
}
